@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h1 style="align-self: center">Выберите ваш план:</h1>
<form method="post">
    <button asp-action="Subscribe">Приобрести подписку</button>
</form>
